/node_modules
/docs/output
/ext
/archive
/deploy
**/build
/temp
/.idea
/.vscode
/.sencha
/su/packages/build

*.log
jsduck.bat
bootstrap.css
bootstrap.js
package-lock.json
/su/examples/**/classic.json*
/su/examples/**/modern.json*
/docs/examples
/su/version.properties
/examples
/remote/su
