/node_modules
/docs/output
/ext
/archive
/deploy
**/build
/temp
/.idea
/.vscode
/.sencha
/su/packages/build

*.log
jsduck.bat
bootstrap.css
bootstrap.js
package-lock.json
/su/examples/material-icons/classic.json
/su/examples/material-icons/classic.jsonp
/su/examples/material-icons/modern.json
/su/examples/material-icons/modern.jsonp
/docs/examples
/su/version.properties
/examples
/remote/su
